.table-container {
    .table {
        thead {
            user-select: none;

            tr {
                th {
                    .header-content {
                        display: flex;
                        align-items: center;
                        column-gap: 10px;
                        color: hsl(229, 53%, 53%);
                        font-weight: 500;

                        .arrow-wrapper {
                            display: flex;
                            flex-direction: column;

                            .default {
                                color: hsl(0, 0%, 86%);
                            }

                            .sorted {
                                color: hsl(229, 53%, 53%);
                            }
                        }
                    }
                }
            }
        }
    }
    .table {
        &.is-striped {
            tbody {
                tr:not(.is-selected):nth-child(even) {
                   background-color: hsl(219, 70%, 96%);
                }
            }
        }
    }
}
